In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [98]:
data=pd.read_csv('student-data.csv')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [99]:
data.shape

(395, 31)

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    object
dtypes: int64(13), object(18)
memory usage: 95.8+ KB

In [101]:
data.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
passed        0
dtype: int64

In [102]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'passed'],
      dtype='object')

In [103]:
x = data.drop(['address','famsize','Pstatus','Mjob', 'Fjob', 'reason','guardian','schoolsup', 'famsup', 'paid','nursery',
       'higher', 'internet', 'romantic','Medu','Fedu','freetime','goout','passed'],axis=1)
y = pd.DataFrame(data['passed'])

In [104]:
x['school'].value_counts()

GP    349
MS     46
Name: school, dtype: int64

In [105]:
data['schoolsup'].value_counts()

no     344
yes     51
Name: schoolsup, dtype: int64

In [106]:
data['activities'].value_counts()

yes    201
no     194
Name: activities, dtype: int64

In [107]:
#Onehot encoding
x = pd.get_dummies(x, columns=['school','activities','sex'])
y = pd.get_dummies(y, columns=['passed'])
x.head()

,age,traveltime,studytime,failures,famrel,Dalc,Walc,health,absences,school_GP,school_MS,activities_no,activities_yes,sex_F,sex_M
0,18,2,2,0,4,1,1,3,6,1,0,1,0,1,0
1,17,1,2,0,5,1,1,3,4,1,0,1,0,1,0
2,15,1,2,3,4,2,3,3,10,1,0,1,0,1,0
3,15,1,3,0,3,1,1,5,2,1,0,0,1,1,0
4,16,1,2,0,4,1,2,5,4,1,0,1,0,1,0

In [108]:
x.columns

Index(['age', 'traveltime', 'studytime', 'failures', 'famrel', 'Dalc', 'Walc',
       'health', 'absences', 'school_GP', 'school_MS', 'activities_no',
       'activities_yes', 'sex_F', 'sex_M'],
      dtype='object')

In [109]:
x.shape

(395, 15)

In [110]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             395 non-null    int64
 1   traveltime      395 non-null    int64
 2   studytime       395 non-null    int64
 3   failures        395 non-null    int64
 4   famrel          395 non-null    int64
 5   Dalc            395 non-null    int64
 6   Walc            395 non-null    int64
 7   health          395 non-null    int64
 8   absences        395 non-null    int64
 9   school_GP       395 non-null    uint8
 10  school_MS       395 non-null    uint8
 11  activities_no   395 non-null    uint8
 12  activities_yes  395 non-null    uint8
 13  sex_F           395 non-null    uint8
 14  sex_M           395 non-null    uint8
dtypes: int64(9), uint8(6)
memory usage: 30.2 KB

In [111]:
# splitting data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [112]:
# Building model
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier()
RF.fit(x_train,y_train)
y_pred =RF.predict(x_test)

In [113]:
from sklearn.metrics import f1_score,confusion_matrix
print("f1_score : ",f1_score(y_test, y_pred,average='weighted'))
print("confusion_matrix : ",confusion_matrix(y_test.values.argmax(axis=1),y_pred.argmax(axis=1)))
# f_score is 60%

f1_score :  0.6074107804041157
confusion_matrix :  [[12 34]
 [ 6 67]]

In [114]:
# Feature importance
pd.Series(rf.feature_importances_,index=x.columns).sort_values()*100

school_MS          1.556378
school_GP          1.694463
sex_M              2.097539
sex_F              2.359254
activities_no      2.461487
activities_yes     2.486500
Dalc               5.811257
traveltime         5.972492
studytime          7.249180
famrel             8.868806
Walc               9.256909
health            10.187829
failures          10.419539
age               11.364566
absences          18.213800
dtype: float64

In [115]:
RF.fit(x_train,y_train)
rft= RandomForestClassifier(n_estimators=500,max_depth=10,random_state=42,criterion="entropy")
rft.fit(x_train,y_train)

y_pred=rft.predict(x_test)
f1_score(y_test,y_pred,average='weighted')

0.6044440248009315

In [ ]:
# According to this model, the possibilty of the student to pass is 60%